body{
    padding: 110px;
    background: linear-gradient(blue,white,red);
    color: white;
}

h1{
    padding: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    padding: 10px;
    margin-left: auto;
    background: #00f;
    text-align: center;
    width: 280px;
    height: 300px;
    box-shadow: 0px 0px 35px #0006;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    
}

.card_2{
    background: white;
    color: #000;
}

.card_3{
    background: red;
}

.card_titulo{
    font-family: initial;
}

.card_descripcion{
    font-size: 18px;
    letter-spacing: 3px;
}
.card_contenido{
    font-size: 16px;
    text-align: justify;
}

.card_img{
    margin-top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.creador{
    text-align: left;
    color: #000;
    padding: 1px;
}

.leccion1{
    font-size: 25px;
    background: linear-gradient(blue,white);
    font-family: cursive;
}

.leccion2{
    font-size: 25px;
    background: linear-gradient(white,#efa);
    font-family: cursive;
}

.leccion3{
    font-size: 25px;
    background: linear-gradient(red,white);
    font-family: cursive;
}

.link{
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

